<!-- //<p>search works!</p> -->
<div>
<!-- <h1>{{this.employee }}</h1> -->
}
</div>
<!-- <div class = "tp-container">
    <mat-form-field appearance = "standard">
       <input matInput placeholder = "First_Name">
    </mat-form-field>
    <mat-form-field appearance = "fill">
        <input matInput placeholder = "Dept">
    </mat-form-field>
</div>
<br>
<br>
<div class = "example-button-row">
    <button mat-button>SEARCH</button>
</div> -->
<!-- <div>
    <table>
    <tr *ngFor="let character of employee">
        <td>{{character.Emp_ID}}</td>
    </table>
</div> -->